/* ==UserStyle==
@name           Remove LinkedIn AI
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A style that removes the annoying LinkedIn AI blocks from your feed
@author         lwndow
==/UserStyle== */
@-moz-document domain("linkedin.com") {
    ul.coach-shared-hscroll-bar__multi-container {
        display: none;
    }
    ul.MjosjHHhhHaMgQmvOgrvzAmsSzJRiqZvAzhwDGk {
        display: none;
    }
    ul.ILDQPBLbnfDKGkeioqRdhMRGxqWJICidzsM {
        display: none;
    }
    ul.fHulQjnNmtHsWCTHprHInshuCYVNZdZQ {
        display: none;
    }
    ul.SyYHsnfkRVEKsXGYBLgWweYOYVMTaDcghws {
        display: none;
    }
    ul.xMjoDZiWiwvTSToKMiOswyfsSpNCbbbkQSVWZs {
        display: none;
    }
    ul.XULZeyoMLRJpKJdjuqNTsGITqtyYvWZJRItB {
        display: none;
    }
    button.coach-shared-hscroll-bar__right-button.ember-view.artdeco-button--tertiary.artdeco-button--1.artdeco-button--muted.artdeco-button {
        display: none;
    }
    button.coach-shared-hscroll-bar__left-button.ember-view.artdeco-button--tertiary.artdeco-button--1.artdeco-button--muted.artdeco-button {
        display: none;
    }
}
